@font-face{
    font-family: 'LemonMilk';
    src: url(fonts/LEMONMILK-Regular.otf);
    font-style: normal;
    font-weight: 400;
}

@font-face{
    font-family: 'LemonMilk';
    src: url(fonts/LEMONMILK-Light.otf);
    font-style: normal;
    font-weight: 100;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
} 

body{
    background-color: black;
}

h2,h3,h4,h5,h6{
    font-family: 'Baskervville', serif;
    color: rgb(216, 62, 62);
}
p{
    color: white;
}


nav{
    display: flex;
    justify-content: space-between;
    padding-left: 5%;
    padding-top: 1%;
    padding-right: 5%;
    align-items: center;
    min-height: 8vh;
}

.header-logo img{
    width: 50px;
    height: 50px;
    margin-left: 20px;
}

.nav-links{
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    width: 45%;
    margin: 0;
}

.nav-links a{
    text-decoration: none;
    color: white;
    font-family: LemonMilk;
    font-weight: 100;

}

.burger{
    display: none;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
}
.hr-tag{
    padding-top: 0.4%;
}

.hr-tag hr{
    background-color: white;
    width: 90%;
    margin: auto;
    
}

.main-title {
    width: 100%;
    margin-top: 10%;
    text-align: center;
    color: white;
}

#sfi-title{
    color: rgb(216, 62, 62);
    font-size:2.8vw ;
    font-family: 'Baskervville', serif;
}
/* h3{
    font-family: 'Baskervville', serif;
    font-size: 1.35vw;
    padding-bottom: 20px;
    color: white;
} */

#gec-unit{
    font-family: 'Baskervville', serif;
    font-size: 1.15vw;
    padding-bottom: 20px;
    color: white;
}


.main-title hr{
    background-color: white;
    width: 38%;
    margin: auto;
}

.sfi-tag {
    text-align: center;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding-top: 10px;
    padding-left: 23%;
    padding-right: 23%;
    font-family: LemonMilk;
    font-weight: 100;
    
}

.arch-image img{
    width: 100%;
    height: auto;
}

.arch-mobile img{
    display: none;
}


section{
    margin: 5%;
}

section{
    padding-left: 5%;
    padding-right: 5%;
}

.unit-initiative{
    padding-top: 2%;
    padding-bottom: 2%;

}

pre{
    text-transform: uppercase;
    font-family: 'Baskervville', serif;
    color: white;
}

.social-media{
    display: flex;
    justify-content: center;
    text-align: center;
    /* margin: 5%; */
    padding-left: 5%;
    padding-right: 5%;
}

.social-media img{
    width: 30px;
    height: 30px;
}

.footer-line{
    padding-left: 5%;
    padding-right: 5%;
    margin: auto;
    background-color: rgb(216, 62, 62);
    width: 60%;
}

.footer-logo{
    display: flex;
    justify-content: center;
    padding-left: 10%;
    padding-right: 10%;
}

.footer-logo img{
    width: 60px;
    height: 60px;
}

.vr-line{
    margin-left: 20px;
    border-left: 1px solid rgb(216, 62, 62);
    height: 60px;
}
.footer-link{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 45%;
    margin: auto;
    padding-left: 2%;
    position: relative;
    top: 50%;
    margin: 0;
}

.footer-link a{
    text-decoration: none;
    color: rgb(216, 62, 62);
    font-family: 'Baskervville', serif;
    font-weight: 100;   

}

.container{
    width: 100%;
    max-width: 120rem;
    margin: auto;
    padding: 0.15rem;
}

.image-gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 1.5rem;
    grid-template-areas: 
                    'img-1 img2 img3 img4'
                    'img-4 img4 img5 img6'
                    'img-7 img8 img9 img10'
                    'img-11 img11 img12 img12'; */
}

.image-gallery a{
    width: 100%;
    height: 25rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .image-gallery a i {
    font-size: 3rem;
    position: relative;
    z-index: 100;
    padding: 1rem 3rem;
    border: 2px solid rgb(255,255,255,0.6);
    border-radius: 0.4rem;
    opacity: 0;
    transition: opacity 0.5s;
} */

.image-gallery a::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: rgb(0,0,0,0.8);
    opacity: 0;
    transition: opacity 0.5s;
}

.image-gallery a:hover i,
.image-gallery a:hover::before{
    opacity: 1;
}

.img-1{
    grid-area: img-1;
    background-image: url("images/img-1.jpeg");
}

.img-2{
    grid-area: img-2;
    background-image: url("images/img-2.jpeg");
}
.img-3{
    grid-area: img-3;
    background-image: url("images/img-3.jpeg");
}
.img-4{
    grid-area: img-4;
    background-image: url("images/img-4.jpeg");
}
.img-1{
    grid-area: img-1;
    background-image: url("images/img-1.jpeg");
}
.img-5{
    grid-area: img-5;
    background-image: url("images/img-5.jpeg");
}
.img-6{
    grid-area: img-6;
    background-image: url("images/img-6.jpeg");
}
.img-7{
    grid-area: img-7;
    background-image: url("images/img-7.jpeg");
}
.img-8{
    grid-area: img-8;
    background-image: url("images/img-8.jpeg");
}
.img-9{
    grid-area: img-9;
    background-image: url("images/img-9.jpeg");
}
.img-10{
    grid-area: img-10;
    background-image: url("images/img-10.jpeg");
}
.img-11{
    grid-area: img-11;
    background-image: url("images/img-11.jpeg");
}
.img-12{
    grid-area: img-12;
    background-image: url("images/img-12.jpeg");
}


@media screen and (max-width:1000px){
    body{
        overflow-x: hidden;
    }

    nav{
        justify-content: space-between;
        padding-top: 2%;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding-top: 5%;

    }
    .nav-links li{
        opacity: 0px;
    }

    .burger{
        display: block;

    }
    .hr-tag hr{
        display: none;
    }

    .nav-active{
        display: flex;

    }
    .toggle .line1 {
        transform: rotate(-45deg) translate(-5px, 6px);
    }
    .toggle .line2 {
        transform: rotate(45deg) translate(-5px, -6px);
    }

    .header-logo img{
        width: 35px;
        height: 35px;
    }

    .main-title{
        margin-top: 20%;
    }

    #sfi-title{
        font-size: 5vw;
    }



    #gec-unit{
        font-size: 2.3vw;
        margin: 0;
    }
    
    .sfi-tag{
        font-size: 10px;
        padding-left: 4%;
        padding-right: 4%;
    }

    .main-title hr{
        width: 75%
    }

    .arch-image img{
        display: none;
    }

    .arch-mobile img{
        display: block;
        width: 100%;
    }

    .active{
        display: none;
    }

    .footer-logo img{
        width: 20px;
        height: 20px;
    }

    .footer-link{
        width: auto;
    }

    .footer-link a{
        font-size: 0.6rem;
    }

    pre{
        font-size: 0.7rem;
    }

}    